Repository Smithay/smithay, pull requests merged in 2020-05, with the labels that each got.

#209 Rework rendering loop
  .github/workflows/ci.yml
  anvil/src/glium_drawer.rs
  anvil/src/udev.rs
  src/backend/drm/atomic/mod.rs
  src/backend/drm/atomic/session.rs
  src/backend/drm/atomic/surface.rs
  src/backend/drm/common/fallback.rs
  src/backend/drm/common/mod.rs
  src/backend/drm/egl/mod.rs
  src/backend/drm/egl/session.rs
  src/backend/drm/egl/surface.rs
  src/backend/drm/gbm/mod.rs
  src/backend/drm/gbm/session.rs
  src/backend/drm/gbm/surface.rs
  src/backend/drm/legacy/mod.rs
  src/backend/drm/legacy/surface.rs
  src/backend/egl/display.rs
  src/backend/egl/surface.rs
  src/backend/session/dbus/logind.rs
Labels: component: backend, difficulty: average, priority: high, status: needs review

#214 Add support for nvidia's EGLStream API
  .github/workflows/ci.yml
  Cargo.toml
  anvil/Cargo.toml
  anvil/src/udev.rs
  build.rs
  examples/raw_nvidia.rs
  src/backend/drm/atomic/mod.rs
  src/backend/drm/atomic/surface.rs
  src/backend/drm/common/fallback.rs
  src/backend/drm/egl/mod.rs
  src/backend/drm/egl/session.rs
  src/backend/drm/eglstream/egl.rs
  src/backend/drm/eglstream/mod.rs
  src/backend/drm/eglstream/session.rs
  src/backend/drm/eglstream/surface.rs
  src/backend/drm/gbm/egl.rs
  src/backend/drm/legacy/surface.rs
  src/backend/drm/mod.rs
  src/backend/egl/display.rs
  src/backend/egl/error.rs
  src/backend/egl/ffi.rs
  src/backend/egl/native.rs
  src/backend/egl/surface.rs
  src/backend/graphics/mod.rs
  src/backend/udev.rs
Labels: component: backend, difficulty: hard, priority: normal, status: needs review, type: improvement

#216 wayland.seat: Send key event before modifier event
  src/wayland/seat/keyboard.rs
Labels: status: needs review, type: bug
