Repository Smithay/smithay, pull requests merged in 2021-11, with the labels that each got.

#414 Add SubAssign for Size
  src/utils/geometry.rs
Labels: type: improvement, status: needs review

#413 x11: add option to make extensions optional
  src/backend/x11/buffer.rs
  src/backend/x11/extension.rs
Labels: component: backend, status: needs review

#407 anvil: deduplicate some input handler logic
  anvil/src/input_handler.rs
  anvil/src/winit.rs
  anvil/src/x11.rs
Labels: status: needs review, component: anvil

#416 Fixed a typo in the lib.rs docs.
  src/lib.rs
Labels: type: documentation

#411 Add version method to ToplevelSurface
  src/wayland/shell/xdg/mod.rs
Labels: type: improvement, status: needs discussion

#406 input: remove `InputBackend::dispatch_new_events`
  CHANGELOG.md
  src/backend/input/mod.rs
  src/backend/libinput/mod.rs
  src/backend/winit/input.rs
  src/backend/x11/input.rs
Labels: component: backend, status: needs discussion

#419 backend: Support buffer age
  CHANGELOG.md
  Cargo.toml
  anvil/src/udev.rs
  examples/raw_drm.rs
  src/backend/allocator/swapchain.rs
  src/backend/drm/surface/gbm.rs
  src/utils/mod.rs
  src/utils/user_data.rs
Labels: component: backend, type: improvement, status: needs review

#420 Rework X11 backend to use EGL for finding gbm device and associated commits
  Cargo.toml
  anvil/src/x11.rs
  build.rs
  src/backend/drm/mod.rs
  src/backend/drm/node/constants.rs
  src/backend/drm/node/mod.rs
  src/backend/egl/device.rs
  src/backend/egl/error.rs
  src/backend/egl/ffi.rs
  src/backend/egl/mod.rs
  src/backend/egl/native.rs
  src/backend/x11/error.rs
  src/backend/x11/mod.rs
Labels: component: backend, type: improvement, status: needs review

#422 [Anvil] Fix ScaleDown scaling up
  anvil/src/input_handler.rs
Labels: type: bug, status: needs review, component: anvil
