Repository Smithay/smithay, pull requests merged in 2021-12, with the labels that each got.

#427 resolve new clippy lints
  anvil/src/winit.rs
  src/backend/drm/device/mod.rs
  src/backend/drm/surface/mod.rs
  src/backend/egl/native.rs
  src/wayland/compositor/mod.rs
  src/wayland/compositor/transaction.rs
  src/wayland/explicit_synchronization/mod.rs
  src/wayland/output/mod.rs
  src/wayland/seat/keyboard.rs
  src/wayland/shell/xdg/mod.rs
Labels: status: needs review

#426 x11: rework api to be multi-window capable
  CHANGELOG.md
  anvil/src/x11.rs
  src/backend/allocator/mod.rs
  src/backend/x11/error.rs
  src/backend/x11/mod.rs
  src/backend/x11/window_inner.rs
Labels: component: backend, status: needs review

#428 rewind the keymap file before passing it to clients
  CHANGELOG.md
  src/wayland/seat/keyboard.rs
Labels: type: bug, status: needs review

#429 x11: Do not hold lock when dispatching events
  src/backend/x11/mod.rs
Labels: component: backend, type: bug, status: needs review

#433 x11: fix window drop not destroying
  src/backend/x11/buffer.rs
  src/backend/x11/error.rs
  src/backend/x11/mod.rs
  src/backend/x11/window_inner.rs
Labels: component: backend, type: bug

#436 x11: internal window to send close backend event to
  src/backend/x11/mod.rs
Labels: component: backend, type: bug, status: needs review

#434 Geometry additions
  CHANGELOG.md
  src/utils/geometry.rs
  src/utils/mod.rs
Labels: type: improvement, status: needs review

#437 x11: emit errors when presentation fails
  CHANGELOG.md
  src/backend/x11/buffer.rs
  src/backend/x11/error.rs
  src/backend/x11/mod.rs
  src/backend/x11/surface.rs
Labels: component: backend, type: bug, status: needs review
